<div class="book-item">
    <div class="book-item-content">
        <h3 class="text-center">{{book?.title}}</h3>
        <div class="p-mb-3 text-center">
            <button (click)="displayResponsive=true" class="imagen">
                <img [src]="book?.image_url" [alt]="book?.title" class="book-image" />
            </button>
        </div>
    </div>
</div>

<p-dialog header="{{book?.title}}" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '40vw'}"
    [draggable]="false" [resizable]="false">
        
        <div class="grid">
            <div class="col-3 text-center">
                <img [src]="book?.image_url" [alt]="book?.title" class="book-image" />
            </div>
            <div class="col-9">
                <h4>{{book?.title}}</h4>
                <p><b>Autor/s: </b>{{book?.authors}}</p>
                <p><b>Año de publicacion: </b>{{book?.original_publication_year}}</p>
                <p><b>Raiting: </b>{{book?.ratings_count}}</p>
                <p><b>Idioma:  </b>{{book?.language_code}}</p>

                <h5></h5>
                <h5></h5>
                <h5></h5>

            </div>
        </div>
        <ng-template pTemplate="footer">

        </ng-template>
</p-dialog>