<header *ngIf="ruta() != '/' && ruta() != '/login'">
    
  <div class="grid justify-content-center">
    <div class="col-2">
      <img src="/assets/img/logo.png" alt="Logo" width="50%">
    </div>
    <div class="col-6 flex">
        <span class="p-input-icon-left input-search flex align-items-center">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Busca libros por titulo" [(ngModel)]="value3" class="input-search" />
        </span>
        <button pButton pRipple type="button" label="Buscar" class="p-button-raised ml-2 "></button>

    </div>
    <div class="col-2 flex text-right">
      <button pButton pRipple type="button" label="Cerrar" class="p-button-raised p-button-secondary ml-auto" (click)="salir()"></button>
    </div>
  </div>

</header>