<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <br>
        <br>
        <h4 class="ae-u-bolder">Bienvenido a la revisión de la prueba técnica.</h4>
        <p><strong>Candidato:</strong> {{ coreService.info["nombre"] }}.</p>
        <p style="text-align: justify;">A lo largo de esta prueba se hizo uso de Angular para el Front End y para una API Node.js en su última versión, adicionalmente se hizo uso del gestor de base de datos MongoDB. Tenga en cuenta que La página web es responsive.</p>
        <br>
        <br>
    </div>
</div>
